#include <Arduino.h>

const char* mqtt_server = "domain";
const char* user = "user";
const char* pw = "password";
const uint mqtt_server_port = 1883;
const char* ssid = "ssid";
const char* password = "password";